<!DOCTYPE html>
<html>
<head>
    <title>Gumtree Carousel Test</title>
    <meta name="viewport" content="width=device-width; initial-scale=1" />
    <link href="dist/css/all.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="js-ajax-accordion-with-carousel" data-content-url="data/content.json"></div>

    <script id="ajax-accordion-with-carousel" type="x-tmpl-mustache">
        <div class="accordion" role="tablist" multiselectable="true">
            <div class="accordion__header">
                <h1 class="accordion__tab is-expanded js-accordion-tab" id="{{ cleanTitle }}Tab" aria-selected="true" aria-controls="{{ cleanTitle }}" aria-expanded="true" role="tab" tabindex="0"><span class="icon icon--page"></span> {{ title }}</h1>
            </div>
            <div class="accordion__panel is-visible  js-accordion-panel" id="{{ cleanTitle }}" aria-labelledby="{{ cleanTitle }}Tab" aria-hidden="false" role="tabpanel">
                <div class="carousel">
                    <ul class="carousel__list" {{{ carouselWidth }}}>
                    {{ #content }}
                        <li class="carousel__item carousel__item--in-accordion" {{{ carouselItemWidth }}}>
                                <h2 class="u-visually-hidden  js-carousel-controls-button-label">{{ title }}</h2>
                            <div class="product-info">
                                {{ #thumbnail }}
                                    <div class="product-info__image-container">
                                        <img src="dist/images/{{ thumbnail }}" class="product-info__image" width="209" alt="Product photo" />
                                    </div>
                                {{ /thumbnail }}
                                <p class="product-info__description">{{{ description }}}</p>
                            </div>
                        </li>
                    {{ /content }}
                    </ul>
                    
                    {{ #toCarousel }}
                        <div class="carousel-controls">
                            <button class="u-link-button carousel-controls__button carousel-controls__button--prev  js-carousel-controls-button-prev">Prev<span class="u-visually-hidden">ious</span></buttonu-link-button >
                            <button class="u-link-button carousel-controls__button carousel-controls__button--next  js-carousel-controls-button-next">Next</button>
                        </div>
                    {{ /toCarousel }}
                </div>
            </div>
        </div>
    </script>
    
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="dist/js/all.min.js"></script>
</body>
</html>