.u-link-button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    line-height: 1;
    text-decoration: underline;
}

.u-link-button:hover,
.u-link-button:focus {
    text-decoration: none;
}

.u-link-button:focus {
    outline: 1px dotted;
}
