.accordion {
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08);
    margin: auto;
    max-width: 724px
}

.accordion__header {
    background: linear-gradient(to right, #eae8cf, #c7c7a5);
    border-radius: 7px 7px 0 0;
}

.accordion__tab {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 19px 30px 19px 22px;
    position: relative;
}

.accordion__tab:focus {
    outline: 1px dotted;
}

.accordion__tab:after {
    border-color: #508809 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    content: '';
    cursor: pointer;
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.accordion__tab.is-expanded:after {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #508809 transparent;
}

.accordion__panel {
    border-bottom: 1px solid #dee1d0;
    display: none;
}

.accordion__panel.is-visible {
    display: block;
}
