.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel__list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate3d(0%, 0, 0);
    transition: transform ease 1s;
}

.carousel__item {
    box-sizing: border-box;
}

.carousel__item--in-accordion {
    padding: 15px 30px;
}

.carousel-controls {
    border-top: 1px solid #e6e7df;
    display: flex;
    padding: 13px 23px;
}

.carousel-controls__button {
    color: #588b0a;
    flex: 1 1 0%;
    padding: 0;
    position: relative;
}

.carousel-controls__button--prev {
    padding-left: 28px;
    text-align: left;
}

.carousel-controls__button--prev:before,
.carousel-controls__button--next:before {
    border-style: solid;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-controls__button--prev:before {
    border-color: transparent currentColor transparent transparent;
    border-width: 10px 12px 10px 0;
    left: 0;
}

.carousel-controls__button--next {
    padding-right: 28px;
    text-align: right;
}

.carousel-controls__button--next:before {
    border-color: transparent transparent transparent currentColor;
    border-width: 10px 0 10px 12px;
    right: 0;
}
