.product-info__description {
    font-size: 12px;
    line-height: 1.25;
    margin: 0;
}

@media (min-width: 500px) {
    .product-info {
        display: flex;
    }

    .product-info__image-container {
        flex-basis: 209px;
        padding-right: 30px
    }
    
    .product-info__description {
        flex: 1 1 0%;
    }
}
